 .attribution {
     font-size: 12px;
     text-align: center;
     position: fixed;
     bottom: 8px;
     height: 20px;
     width: 100%;
 }

 :hover.attribution a {
     color: hsl(228, 45%, 44%);
 }

 :root {
     --light-gray: hsl(204, 43%, 93%);
     --blue: hsl(228, 45%, 44%);
     --grayish-blue: hsl(218, 22%, 67%);
 }

 html,body {
     background-color: #d5e1ef;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #box {
     display: grid;
     grid-template-rows: auto auto auto;
     border-radius: 44px;
     width: 50vw;
     height: 60vh;
     margin-top: 50%;
     overflow: hidden;
     background: linear-gradient(145deg, #cacaca, #f0f0f0);
     box-shadow: 16px 16px 25px #8b8b8b, -16px -16px 25px #ffffff;
 }

 .img-box {
     justify-content: center;
     align-items: center;
     display: flex;
     overflow: hidden;
 }

 .img-id {
     height: 32vh;
     width: 45vw;
     margin-top: 8%;
     margin-bottom: 5px;
     border-radius: 37px;
 }

 #box-text {
     padding: 5px 20px 20px;
     align-items: center;
     overflow: hidden;
     /* border: solid red; */
     border-radius: 37px;
     text-align: center;
 }

 h3 {
     font-size: 20px;
 }

 p {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 13px;
 }

 @media (min-width: 320px) { 

    html,body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #box {
        width: 80vw;
        height: 70vh;
        /* justify-content: center; */
    }

    .img-box {
        justify-content: center;
        align-items: center;
        display: flex;
        overflow: hidden;
    }

    .img-id {
        height: 38vh;
        width: 70vw;
        margin-top: 6%;
        margin-bottom: 3px;
        border-radius: 37px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .attribution {
        font-size: 12px;
        text-align: center;
        position: fixed;
        bottom: 8px;
        height: 20px;
        width: 100%;
    }

    :hover.attribution a {
        color: hsl(228, 45%, 44%);
    }
}


@media (min-width: 375px) { 

     html,body {
         display: flex;
         justify-content: center;
         align-items: center;
     }

     #box {
         width: 80vw;
         height: 70vh;
         /* justify-content: center; */
     }

     .img-box {
         justify-content: center;
         align-items: center;
         display: flex;
         overflow: hidden;
     }

     .img-id {
         height: 38vh;
         width: 70vw;
         margin-top: 6%;
         margin-bottom: 3px;
         border-radius: 37px;
     }

     h3 {
         font-size: 20px;
     }

     p {
         font-family: Arial, Helvetica, sans-serif;
         font-size: 14px;
     }

     .attribution {
         font-size: 12px;
         text-align: center;
         position: fixed;
         bottom: 8px;
         height: 20px;
         width: 100%;
     }

     :hover.attribution a {
         color: hsl(228, 45%, 44%);
     }
 }

 @media (min-width: 425px) and (min-height: 800px) { 

    html,body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #box {
        width: 70vw;
        height: 65vh;
    }

    .img-box {
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
   
    .img-id {
        height: 35vh;
        width: 60vw;
        margin-top: 8%;
        margin-bottom: 5px;
        border-radius: 37px;
    }
}
@media (min-width: 500px) and (min-height: 800px) { 

    html,body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #box {
        width: 50vw;
        height: 60vh;
    }

    .img-box {
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
   
    .img-id {
        height: 30vh;
        width: 45vw;
        margin-top: 8%;
        margin-bottom: 5px;
        border-radius: 37px;
    }
}
@media (min-width: 768px) and (min-height: 800px) { 

    html,body {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0%;
        padding: 0%;
    }

    #box {
        
        width: 40vw;
        height: 60vh;
    }

    .img-box {
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
   
    .img-id {
        height: 30vh;
        width: 35vw;
        margin-top: 7%;
        margin-bottom: 5px;
        border-radius: 37px;
        overflow: hidden;
    }
    h3 {
        font-size: 20px;
    }
   
    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
    .attribution {
        font-size: 14px;
        text-align: center;
        position: fixed;
        bottom: 8px;
        height: 20px;
        width: 100%;
    } 
   
    :hover.attribution a {
        color: hsl(228, 45%, 44%);
    }
   
}
@media (min-width: 1024px) and (min-height: 800px) { 

    html,body {
        display: flex;
        justify-content: center;
        margin: -4%;
    }

    #box {
        width: 35vw;
        height: 70vh;
    }

    .img-box {
        justify-content: center;
        align-items: center;
        display: flex;
        overflow: hidden;
        padding: 0%;
    }

    .img-id {
        height: 35vh;
        width: 30vw;
        margin-top: 10%;
        margin-bottom: 3px;
        border-radius: 37px;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    .attribution {
        font-size: 20px;
        text-align: center;
        position: fixed;
        bottom: 8px;
        height: 20px;
        width: 100%;
    }

    :hover.attribution a {
        color: hsl(228, 45%, 44%);
    }
}

@media (min-width: 1440px) and (min-height: 800px) { 

    html,body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #box {
        width: 35vw;
        height: 75vh;
        margin-top: 40%;
       
    }

    .img-box {
        justify-content: center;
        align-items: center;
        display: flex;
        overflow: hidden;
        height: 38VH;
        /* border: solid red; */
        padding: 0%;
        margin: 0%;
    }

    .img-id {
        height: 35vh;
        width: 32vw;
        margin-top: 9%;
        margin-bottom: 16px;
        border-radius: 37px;
    }

    h3 {
        font-size: 35px;
        
        
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
       
    }

    .attribution {
        font-size: 30px;
        text-align: center;
        position: fixed;
        bottom: 8px;
        height: 20px;
        width: 100%;
    }

    :hover.attribution a {
        color: hsl(228, 45%, 44%);
    }
}

@media (min-width: 2560px) and (min-height: 900px){ 

    html,body {
        display: flex;
        justify-content: center;
    }

    #box {
        width: 30vw;
        height: 80vh;
        margin-top: 40%;
    }

    .img-box {
        justify-content: center;
        align-items: center;
        display: flex;
        overflow: hidden;
    }

    .img-id {
        height: 30vh;
        width: 27vw;
        margin-top: 4%;
        margin-bottom: 3px;
        border-radius: 37px;
    }

    h3 {
        font-size: 50px;
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 45px;
    }

    .attribution {
        font-size: 55px;
        text-align: center;
        position: fixed;
        bottom: 8px;
        height: 20px;
        width: 100%;
    }

    :hover.attribution a {
        color: hsl(228, 45%, 44%);
    }
}